@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body{
    margin: 0;
}

.container{
    margin: 10px auto;
    width: 1200px;
    height: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    /* border: 2px solid black; */
}

.homeHead{
    text-transform: capitalize;
    font-family: "Poppins";
}

.homeHead::first-letter{
    color: orange;
}

.homeContent{
    text-transform: capitalize;
    font-family: "Poppins";
}

.homeContent::first-letter{
    color: orange;
}

.homeImage img{
    width: 800px;
}